---
import Layout from '../layouts/Layout.astro'
import HeroSection from '../components/HeroSection.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
	<Header />
	<main class="container mx-auto max-w-4xl p-4">
		<HeroSection />
	</main>
	<Footer />
</Layout>
