---
import BaseHead from '../components/BaseHead.astro';
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title='Franco Lorenzo | Website' description='Full Stack Developer from Argentina' />
	</head>
	<body class="font-mono bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50">
		<slot />
	</body>
</html>
