---
import '@fontsource-variable/outfit';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import AnimatedBackground from '../components/AnimatedBackground.astro'
import PerformanceOptimizer from '../components/PerformanceOptimizer.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title='Franco Lorenzo | Website' description='Full Stack Developer from Argentina' />
	</head>
	<body class="font-sans bg-neutral-900 text-neutral-100 min-h-screen flex flex-col relative overflow-x-hidden">
		<AnimatedBackground />
		<Header />
		<main class="flex-1 pt-20 relative z-10">
			<div class="container mx-auto max-w-4xl px-4">
				<slot />
			</div>
		</main>
		<Footer />
		<PerformanceOptimizer />
	</body>
</html>
